body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
